version: "3.8"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "5173:5173"
    env_file:
      - .env
    # environment:
    #   VITE_API_URL: "http://localhost:8000"  // Do ustalenia 
    volumes:
      - .:/app
      - /app/node_modules